body {
	background-color: green;
	background-image: url('alien.png');
	text-align: center;

	h2 {
		display: inline-block;
		background-color: lightgreen;
		padding: 5px 5px 5px;
	}

	h3 {
		display: block;
	}

	p {
		display: inline-block;
		background-color: lightgreen;
		padding: 5px 5px 5px;
	}
	.warning {
		background-color: red;
	}
}

header {
	.navbar {
		background-color: lightgreen; 
		text-align: center;
		width: 100%;
	}
	  
	.navbar li {
		display: inline-block;
		font-size: 24px;
		padding: 15px;
		width: 10%;
	}
	.toppicture{
		width: 128px;
		height: 128px;
	}
	.opened{
		background-color: red;
	}

	.navbar li:not(.opened) a:hover {
		background-color: rgb(93, 182, 93);
	}
}

@media (min-width: 500px) {
	body {
	}
}

@media (max-width: 499px) {
	body {
	}
}



