body {
	background-color: green;
	background-image: url('alien.png');
	text-align: center;

	h2 {
		display: inline-block;
		background-color: lightgreen;
		padding: 5px 5px 5px;
	}

	h3 {
		display: block;
	}

	p {
		display: inline-block;
		background-color: lightgreen;
		padding: 5px 5px 5px;
	}
	#warning {
		background-color: red;
	}

	table {
		border: 2px solid black;
		border-collapse: collapse;
		margin-left: auto;
		margin-right: auto;
	}
	th,td {
		background-color: lightgreen;
		border: 2px solid black;
		padding: 5px;
	}
	.carousel-item img {
		width: 400px; /* Adjust as needed */
		height: 400px;
		object-fit: contain;
	  }
}


header {
	.navbar {
		background-color: lightgreen; 
		text-align: center;
		width: 100%;
	}
	  
	.navbar li {
		display: inline-block;
		font-size: 24px;
		padding: 15px;
		width: 10%;
	}
	.toppicture{
		width: 128px;
		height: 128px;
	}
	.opened{
		background-color: red;
	}

	.navbar li:not(.opened) a:hover {
		background-color: rgb(93, 182, 93);
	}
}

@media (max-width: 768px) {
    .navbar {
        background-color: rgb(231, 133, 231) !important;
    }
	.toppicture{
		width: 64px !important;
		height: 64px !important;
	}
	.navbar li {
		font-size: 14px !important;
		padding: 8px !important;
		width: 10% !important;
	}
	.navbar li:not(.opened) a:hover {
		background-color: rgb(148, 96, 173) !important;
	}
}

